<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Zen+Kaku+Gothic+Antique&display=fallback"
        rel="stylesheet">

  <link href="/assets/highlight.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/styles/style.css">

  <title>{{ title }}</title>
</head>
<body>

{% include 'header.njk' %}
<div class="main-wrapper">
  <main>
    {{ content | safe }}
  </main>
</div>


</body>
</html>

<script>
  function listenAndToggleNav() {
    const toggleBtn = document.getElementById('toggle-nav-btn');
    const header = document.getElementById('header');

    if (toggleBtn && header) {
      toggleBtn.addEventListener('click', () => {
        if (!header.classList.contains('opened')) {
          header.classList.add('opened');
        } else {
          header.classList.remove('opened');
        }
      });
    }
  }

  (() => {
    listenAndToggleNav();
  })()
</script>
