<footer>
  <div class="thanks">
    <div>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>
        Thanks for reading
      </p>
      <span>
      <a href="/">More posts </a><img src="/assets/curve-arrow.png" alt="curver arrow fo link">
    </span>
    </div>
  </div>

  <div class="about">
    <div>
      <p>
        Hi, I’m Mustapha AOUAS → blogger, speaker & JavaScript / Typescript developer
        → I like sharing what I know and learning
        what i don't.
      </p>

      <p>
        You can read more about me <a href="/mustapha-aouas">here</a>, or find me on <a
              href="https://www.linkedin.com/in/mustapha-aouas-7918a214b/">LinkedIn</a> and <a
              href="https://twitter.com/TheAngularGuy">Twitter</a>.
      </p>
    </div>
  </div>
</footer>
