<a href="https://dev.to/mustapha" rel="noreferrer" target="_blank">
  <picture>
    <source srcset="/assets/dev-white.svg" media="(prefers-color-scheme: dark)">
    <img src="/assets/dev.svg" alt="dev.to" height="23" width="23">
  </picture>
</a>
<a href="https://github.com/theAngularGuy/" rel="noreferrer" target="_blank">
  <picture>
    <source srcset="/assets/github-white.svg" media="(prefers-color-scheme: dark)">
    <img src="/assets/github.svg" alt="github" height="26" width="26">
  </picture>
</a>
<a href="https://www.linkedin.com/in/mustapha-aouas-7918a214b/" rel="noreferrer" target="_blank">
  <picture>
    <source srcset="/assets/linkedIn-white.svg" media="(prefers-color-scheme: dark)">
    <img src="/assets/linkedIn.svg" alt="linkedIn" height="26" width="26">
  </picture>
</a>
<a href="https://twitter.com/TheAngularGuy" rel="noreferrer" target="_blank">
  <picture>
    <source srcset="/assets/twitter-white.svg" media="(prefers-color-scheme: dark)">
    <img src="/assets/twitter.svg" alt="twitter" height="26" width="26">
  </picture>
</a>
