<a href="https://dev.to/mustapha" rel="noreferrer" target="_blank">
  <img src="/assets/dev.svg" alt="dev.to" height="26" width="26">
</a>
<a href="https://github.com/theAngularGuy/" rel="noreferrer" target="_blank">
  <img src="/assets/github.png" alt="github" height="26" width="26">
</a>
<a href="https://www.linkedin.com/in/mustapha-aouas-7918a214b/" rel="noreferrer" target="_blank">
  <img src="/assets/linkedin.png" alt="linkedIn" height="26" width="26">
</a>
<a href="https://twitter.com/TheAngularGuy" rel="noreferrer" target="_blank">
  <img src="/assets/twitter.png" alt="twitter" height="26" width="26">
</a>
