.about a {
  color: unset;
}

.about .about-top {
  margin: auto;
  width: 100%;
  padding: calc(12 * var(--sizer)) 0 calc(4 * var(--sizer));
  border-radius: 0 0 10px 10px;
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
}

.about .about-bottom {
  margin: calc(5 * var(--sizer)) 0;
}

.about .about-bottom .media {
  display: flex;
  gap: var(--sizer);
}

@media (min-width: 45em) {
  .about .about-top {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 45em) {
  .about .about-top {
    padding-left: calc(2px + 5%);
    padding-right: calc(2px + 5%);
    border-radius: 0;
    width: calc(4px + 100vw);
    transform: translateX(calc(-5% - 2px));
  }
}
