@import "var.css";
@import "normalize.css";
@import "layout.css";
@import "list.css";
@import "article.css";
@import "about.css";

.max-width {
  width: 90%;
  margin: auto;
}

@media (min-width: 45em) {
  .max-width {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding-right: var(--header-width);
  }

  .main-article .max-width {
    max-width: 800px;
    padding-right: var(--header-width);
  }

  footer {
    max-width: 800px;
    margin: auto;
    padding-right: var(--header-width);
  }

}
