---
title: About me
layout: 'base.njk'
type: website
image: https://theangularguy.com/assets/blog-image.jpg
description: I am Mustapha AOUAS → JavaScript / Typescript developer. I enjoy giving back to the community by sharing my expertise through talks, workshops, and articles. Learning the web is not a destination, it's a direction. Embark with me in this journey!
---

<div class="about max-width">

  <div class="about-top">
    <div>
      <h1>About.</h1>

      <br>
      <p>
        Hello, I am Mustapha AOUAS → JavaScript / Typescript developer.
        <br>
        For me, each day starts with a cup of coffee and the latest programming posts.
        In turn, I enjoy giving back to the community by sharing my expertise through
        talks, workshops, and articles.

        <br>
        <br>
        Learning the web is not a destination, it's a direction. Embark with me in this journey!
      </p>
    </div>
  </div>

  <div class="about-bottom">
    <div>
      <p>
        <!--<img src="/assets/mustapha.PNG" alt="picture of mustapha aouas" height="100">-->
        I'm a graduate from EPITECH Paris where I studied computer science using the C and C++ languages.

        After school, I have been fortunate to work with some really awesome
        brands over the years including Ricoh, Bosch,
        Total, Southside Interactive, SNCF, Le Crédit Agricole, Egis and Enedis.
        <br>
        <br>
        I currently live in Lyon where I spend my free time on
        personal projects such as
        <a target="_blank"
           href="https://apps.apple.com/us/app/fretboard-learning/id1554316449">Fretboard Learning</a>,
        organizing some <a target="_blank"
           href="https://www.meetup.com/Angular-Lyon/">Meetups</a> and
        <a href="/">blogging</a>.
        Feel free to get in touch.
      </p>
      <br>
      <br>
      <div class="media">
        {% include 'social-media.njk' %}
      </div>
    </div>
  </div>
</div>
